@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-container-img {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Add mobile styles */
@media (max-width: 767px) {
  .logo-container-img {
    width: 20px;
    height: 20px;
  }
}

.logo-container {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
